/*
@author Christoph Spiegl <chris@chrissp.com>
*/

body {
    width: 900px;
    padding: 2em;
    margin: 0 auto;
}

table {
    width: 100%;
    border: 1px solid black;
}

tr {
    padding: 0;
}

tr:first-of-type {
    text-align: center;
    font-weight: bold;
}

td {
    text-align: right;
    padding: .5em 1em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-width: 20px;
}

td:first-of-type {
    text-align: left;
}

td:last-of-type {
    border-right: 0;
}

tr:last-of-type td {
    border-bottom: 0;
}

.timeline thead td {
    height: 100px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    text-align: center;
}
.timeline thead span {
    display: block;
    min-width: 60px;
    padding: 0;
    margin: 0;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
}

.timeline .date {
    min-width: 120px !important;
}

.timeline .overallCell {
    font-weight: bold;
}

abbr {
    border-bottom: 1px dashed black;
}

.max7 {
    background-color: #FF6256;
}

.maxOverall {
    background-color: #FF62A3;
}